*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

    overflow: hidden;
}

body {
    margin: 0;

    height: 100%;

    display: grid;
    place-items: center;

    color: #fefefe;
    background-color: black;

    font-family: sans-serif;
}

.bg {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    opacity: 0.1;

    z-index: -1;
}

.bg img {
    max-width: 100%;
}

.card {
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    margin: 1rem 1rem 0.5rem 1rem;

    text-align: center;

    font-size: 0.8rem;

    color: #eee;
}

.card a img {
    max-height: 32px;

    mix-blend-mode: lighten;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    margin: 1rem;

    height: 64px;

    border-radius: 50%;
    border: 1px solid #eee;

    cursor: pointer;
}

@media (min-width: 450px) {
    .card {
        margin: 2rem;
    }
}

@media (min-width: 600px) {
    body {
        place-items: unset;
        align-items: center;
    }

    .bg {
        place-items: unset;
        align-items: center;
    }

    .bg img {
        width: 600px;
    }

    .card {
        align-items: flex-start;
    }

    .card p {
        margin: 0 1rem;

        text-align: left;
    }

    .card a img {
        margin-top: 0.5rem;
    }

    .profile {
        flex-direction: row;
    }
}

@media (min-width: 800px) {
    .bg img {
        margin-left: 2rem;

        width: 650px;
    }

    .card {
        margin: 4rem;
    }
}

@media (min-width: 1000px) {
    .bg img {
        margin-left: 4rem;

        width: 750px;
    }

    .card {
        margin: 8rem;
    }
}
