@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --accent: #00bbdd;
    --dark: #19191a;

    overflow-x: hidden;

    overscroll-behavior: none;

    scroll-behavior: smooth;
}
